@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --main: #753DE7;
  --secondary: #3ACE9C;
  --alert: #FE681F;
  --inactive: #5F6874;
  --active-menu: #F2ECFD;
  --background: #F5F5F5;
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

@theme {
  --color-main: var(--main);
  --color-secondary: var(--secondary);
  --color-alert: var(--alert);
  --color-inactive: var(--inactive);
  --color-active-menu: var(--active-menu);
  --color-background: var(--background);
  --font-poppins: var(--poppins);
  --font-montserrat: var(--montserrat);
}

body {
  background: var(--background);
  font-family: var(--montserrat);
}